name: Frontend CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npx eslint src

      - name: Run tests
        run: npm test

      - name: Build app
        run: npm run build

      - name: Run Gitleaks scan
        uses: gitleaks/gitleaks-action@v2
        with:
          config-path: .pre-commit-config.yaml
